.paypal-donate {
  margin-left: 2em;
}

.centered {
  text-align: center;
  margin: 0 auto;
}

figcaption {
  font-size: 8px;
  text-align: right
}

.footer-heading {
 font-size: 12px;
}

.video-player {
  max-width: 560px;
  margin: 0 auto;
  margin-bottom: 20px;
  @media only screen and (max-width: 1140px) and (min-width: 900px) {
    width: 166.67%;
  }
  padding-top: 40px;
  figure {
    display: block;
    height: 0;
    left: 0;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 56%;
    position: relative;
    top: 0;
    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
